*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 992px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .navbar-search{
        margin-top: 20px;
    }
    .nav-item{
        gap: 5px;
    }
}

.logo{
    font-size: 32px;
    font-weight: 900;
}
.logo-shop{
    font-size: 22px;
    font-weight: 900;
    background: rgb(102, 18, 3);
    color: white;
    border-radius: 10px;
    padding: 0 5px;
}
.nav-item a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(56, 56, 56);
    transition: all 0.3s;
    white-space: nowrap;
}
.nav-item a:hover{
    color: rgb(121, 8, 8);
}
.navbar-login{
    background: #dc3545;
    padding: 5px 15px;
    font-size: 18px;
    color: white;
    border: 2px solid #dc3545;
    transition: all 0.3s;
}
.navbar-login:hover{
    background: white;
    color: black;
    box-shadow: 0 0 5px #f17481;
    border: 2px solid #dc3545;
}

/* Catogory */

.category-card{
    cursor: pointer;
    transition: all 0.3s;
}
.category-card:hover{
    transform: scale(1.07);
    box-shadow: 0 5px 15px gray;
    color: brown;
}
.category-card p{
    font-size: 13px;
    font-weight: bold;
}
/* dont miss section */
.dontmiss-card{
    cursor: pointer;
    transition: all 0.3s;
}
.dontmiss-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 15px gray;
    color: brown;
}

/* featured section */
.featured-card{
    cursor: pointer;
    transition: all 0.3s;
}
.featured-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 5px gray;
    color: brown;
}
.featured-card:hover .featured-btn{
    color: brown;
    background: rgba(216, 216, 214, 0.363);
}

.featured-btn{
    transition: all 0.3s;
    color: white;
    font-weight: bold;
}

/* all prodect collection */
.products-links a{
   
    font-weight: bold;
}

/* Footer */

.footer-link a, .footer-shop a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    transition: all 0.2s;
}

.footer-link a:hover, .footer-shop a:hover, .footer-icon:hover{
    color: rgb(190, 5, 5);
    cursor: pointer;
}